.popup {
    width: 100%;
    max-width: 880px;
    height: 100%;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.418);
    color: black;
}

.popup_opened {
    display: flex;
}