.popup {
    width: 100%;
    max-width: 900px;
    height: 100%;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.418);
    color: black;
    transform: translate(-2px, -1072px);
}

@media only screen and (max-width: 1120px) and (min-width: 767px) {
    .popup {
        transform: translate(-15%, -1452px);
    }
}

@media only screen and (max-width: 767px) {
    .popup {
        transform: translate(-16.5%, -2717px);
    }
}

@media only screen and (max-width: 400px) {
    .popup {
        transform: translate(-5%, -2718px);
    }
}