.profile__button-edit {
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    border: 1px solid white;
    background-color: black;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 1.32827L2.60377 8.7666L1.28302 7.41936L8.66038 0L10 1.32827ZM0 10L1.96226 9.41177L0.584906 8.08349L0 10Z' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
}

.profile__button-edit:hover {
    border: 2px solid rgba(255, 255, 255, 0.603);
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 1.32827L2.60377 8.7666L1.28302 7.41936L8.66038 0L10 1.32827ZM0 10L1.96226 9.41177L0.584906 8.08349L0 10Z' fill='grey'/%3E%3C/svg%3E");
    transition: border 0.6s linear;
    transition: background-image 0.6s linear;
}