@import url(./vendor/normalize.css);
@import url(./vendor/font.css);
.body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.root {
    margin: 0 auto;
    width: 90%;
    max-width: 880px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}

.header {
    padding: 45px 0 41px;
    border-bottom: 1px solid rgba(84, 84, 84, 1);
}

.popup {
    width: 100%;
    max-width: 880px;
    height: 100%;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.418);
    color: black;
}

.popup_opened {
    display: flex;
}

.popup__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    width: 430px;
    height: 330px;
    gap: 15px;
}

.button_close {
    margin: 0 0 0 auto;
    transform: translate(32px, -32px);
    fill: rgb(255, 255, 255);
    transition: fill 0.75s linear;
}

.button_close:hover {
    cursor: none;
    fill: rgba(207, 207, 207, 0.418);
}

.form__edit_name,
.form__edit_desc {
    border: none;
    border-bottom: 2px solid rgba(128, 128, 128, 0.781);
}


/*profile*/

.profile {
    display: flex;
    padding: 40px 0 50px;
}

.avatar {
    max-height: 120px;
    padding: 0;
    clip-path: circle(60px at center);
    clip-path: circle(radius at x, y)
}

.profile-info {
    padding: 0 0 0 30px;
    max-width: 336px;
}

.profile-container {
    display: flex;
    align-items: center;
    padding: 22px 0 16px 0;
}

.profile__name {
    text-decoration: none;
    margin: 0;
    padding: 0 18px 0 0;
    font-weight: 500;
    font-style: normal;
    font-size: 42px;
    line-height: 48px;
}

.profile__description {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.button_edit {
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    border: 1px solid white;
    background-color: black;
}

.button_add {
    margin: auto 0 auto auto;
    width: 150px;
    height: 50px;
    border: 2px solid white;
    border-radius: 3px;
    background-color: black;
}

.button_edit:hover,
.button_add:hover {
    border: 2px solid rgba(255, 255, 255, 0.603);
    transition: border 1s linear;
}

.button_edit:hover svg path,
.button_add:hover svg path {
    fill: rgba(255, 255, 255, 0.603);
    ;
    transition: fill 1s linear;
}

.button_edit svg,
.button_add svg {
    fill: rgba(84, 84, 84, 1);
}


/*elements*/

.elements {
    margin: 0 auto;
    padding: 0;
    max-width: 880px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 17px;
    row-gap: 20px;
}

.element {
    width: 282px;
    height: 361px;
    color: black;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
    background-size: 100% 85%;
}

.element:nth-of-type(5n+1) {
    background-image: url(./images/photo-grid-1.jpg);
}

.element:nth-of-type(2),
.element:nth-of-type(4) {
    background-image: url(./images/photo-grid-2.jpg);
}

.element:nth-of-type(2n+3) {
    background-image: url(./images/photo-grid-3.jpg);
}

.element__info {
    padding: 25px 20px 31px 21px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.element__name {
    margin: 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 210px;
}

.element__button_like {
    padding: 0 0 1px 0;
    background-color: #FFFFFF;
    border: none;
    width: 22px;
    max-height: 19px;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='19' viewBox='0 0 22 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.2991 9.78586C22.567 7.54338 22.567 3.90213 20.2991 1.68186C18.0311 -0.560619 14.3486 -0.560619 12.0806 1.68186L10.9804 2.792L9.88007 1.70406C7.61215 -0.560619 3.92957 -0.560619 1.6841 1.68186C0.583822 2.76979 0 4.21297 0 5.74496C0 7.27695 0.606277 8.72013 1.6841 9.80806L10.9804 19L20.2991 9.78586ZM1.4371 5.74496C1.4371 4.59042 1.8862 3.52469 2.71702 2.72539C3.5703 1.88168 4.67058 1.45983 5.77086 1.45983C6.87114 1.45983 7.97142 1.88168 8.8247 2.72539L10.9804 4.83465L13.136 2.70318C14.8201 1.03798 17.582 1.03798 19.2437 2.70318C20.0521 3.50248 20.5236 4.56822 20.5236 5.72276C20.5236 6.8773 20.0745 7.94303 19.2437 8.74233L10.9804 16.9351L2.71702 8.76453C1.90865 7.94303 1.4371 6.8773 1.4371 5.74496Z' fill='black'/%3E%3C/svg%3E");
    background-size: cover;
    transition: background-image 0.12s linear;
}

.element__button_like:hover {
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='19' viewBox='0 0 22 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.2991 9.78586C22.567 7.54338 22.567 3.90213 20.2991 1.68186C18.0311 -0.560619 14.3486 -0.560619 12.0806 1.68186L10.9804 2.792L9.88007 1.70406C7.61215 -0.560619 3.92957 -0.560619 1.6841 1.68186C0.583822 2.76979 0 4.21297 0 5.74496C0 7.27695 0.606277 8.72013 1.6841 9.80806L10.9804 19L20.2991 9.78586ZM1.4371 5.74496C1.4371 4.59042 1.8862 3.52469 2.71702 2.72539C3.5703 1.88168 4.67058 1.45983 5.77086 1.45983C6.87114 1.45983 7.97142 1.88168 8.8247 2.72539L10.9804 4.83465L13.136 2.70318C14.8201 1.03798 17.582 1.03798 19.2437 2.70318C20.0521 3.50248 20.5236 4.56822 20.5236 5.72276C20.5236 6.8773 20.0745 7.94303 19.2437 8.74233L10.9804 16.9351L2.71702 8.76453C1.90865 7.94303 1.4371 6.8773 1.4371 5.74496Z' fill='grey'/%3E%3C/svg%3E");
}

.element__button_like:active {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='19' viewBox='0 0 22 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.2991 1.68186C22.567 3.90213 22.567 7.54338 20.2991 9.78586L10.9804 19L1.6841 9.80806C0.606277 8.72013 0 7.27695 0 5.74496C0 4.21297 0.583823 2.76979 1.6841 1.68186C3.92957 -0.560619 7.61215 -0.560619 9.88007 1.70406L10.9804 2.792L12.0806 1.68186C14.3486 -0.560619 18.0311 -0.560619 20.2991 1.68186Z' fill='black'/%3E%3C/svg%3E");
}

.footer {
    padding: 66px 0 60px;
    margin: 0 auto 0 0;
}

.footer__copyright {
    padding: 0;
    margin: 0;
}