.profile__button_add {
    margin: auto 0 auto auto;
    width: 150px;
    height: 50px;
    border: 2px solid white;
    border-radius: 3px;
    background-color: black;
}

.profile__button_add:hover {
    border: 2px solid rgba(255, 255, 255, 0.603);
    transition: border 1s linear;
}

.profile__button_add:hover svg path {
    fill: rgba(255, 255, 255, 0.603);
    ;
    transition: fill 1s linear;
}

.profile__button_add svg {
    fill: rgba(84, 84, 84, 1);
}

@media only screen and (max-width: 767px) {
    .profile__button_add {
        position: relative;
        top: 36px;
        margin: 0 auto;
        width: 100%;
    }
}