.popup__container-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: transparent;
    min-height: 330px;
    gap: 5px;
    max-width: 85%;
    min-width: 278px;
    max-height: 60%;
    overflow: hidden;
}

@media only screen and (max-width: 400px) {
    .popup__container-image {
        max-width: 92%;
    }
}