.profile__name {
    text-decoration: none;
    margin: 0;
    padding: 0 18px 0 0;
    font-weight: 500;
    font-style: normal;
    font-size: 42px;
    line-height: 48px;
    transition: font-size 1s linear;
}

@media only screen and (max-width: 960px) and (min-width:767px) {
    .profile__name {
        font-size: 32px;
    }
}

@media only screen and (max-width: 767px) {
    .profile__name {
        font-weight: 500;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}