.profile__button_edit {
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    border: 1px solid white;
    background-color: black;
}

.profile__button_edit:hover {
    border: 2px solid rgba(255, 255, 255, 0.603);
    transition: border 1s linear;
}

.profile__button_edit:hover svg path {
    fill: rgba(255, 255, 255, 0.603);
    ;
    transition: fill 1s linear;
}

.profile__button_edit svg {
    fill: rgba(84, 84, 84, 1);
}