.popup__button-submit {
    height: 50px;
    color: white;
    background-color: black;
    position: relative;
    top: 18px;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s linear;
    width: 100%;
}

.popup__button-submit:hover {
    background-color: rgba(0, 0, 0, 0.808);
}